################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Jalopy-PaperPlease/obj
/Jalopy-PaperPlease/.vs
/.vs
